@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 145 69% 95%;
  --foreground: 145 5% 10%;
  --border: 145 30% 50%;
  --ring: 145 7% 70%;
  --input: 145 30% 18%;
  --card: 145 50% 90%;
  --card-foreground: 145 5% 13%;
  --popover: 145 69% 95%;
  --popover-foreground: 145 5% 10%;
  --primary: 145 7% 70%;
  --primary-foreground: 145 0% 100%;
  --secondary: 175 7% 70%;
  --secondary-foreground: 175 7% 10%;
  --accent: 115 27% 55%;
  --accent-foreground: 205 7% 13%;
  --muted: 115 7% 80%;
  --muted-foreground: 115 7% 35%;
  --destructive: 0 27% 50%;
  --destructive-foreground: 0 5% 90%;
  --success: 120 17% 50%;
  --success-foreground: 120 20% 90%;
  --warning: 45 100% 50%;
  --warning-foreground: 45 100% 20%;
  --info: 210 100% 50%;
  --info-foreground: 210 100% 90%;
  --chart-1: 145 85% 55%;
  --chart-2: 160 80% 50%;
  --chart-3: 148 83% 52%;
  --chart-4: 152 82% 51%;
  --chart-5: 157 81% 49%;
  --radius: 0.5rem;
}

/* example base uses (optional) */
html, body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}